@import 'tailwindcss';
@import '@hcc/style/utilities.css';
@import '@hcc/style/theme.css';

@theme {
  /* new */
  --color-black: #000000;
  --color-greyscale-900: #141b21;
  --color-greyscale-800: #1e262e;
  --color-greyscale-700: #27313b;
  --color-greyscale-600: #323f4c;
  --color-greyscale-500: #374553;
  --color-greyscale-400: #5f6a75;
  --color-greyscale-300: #79828c;
  --color-greyscale-200: #a3a9b0;
  --color-greyscale-100: #c1c5ca;
  --color-greyscale-50: #ebecee;
  --color-greyscale-25: #f5f5f7;
  --color-white: #ffffff;

  --hcc-navbar-height: 4rem;

  @keyframes arrow {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(4px);
    }
  }
}
