.toast {
  padding: 14px !important;
  font-size: 15px !important;
  border-color: transparent !important;
  border-radius: 8px !important;
  gap: 8px !important;
}

.toast [data-icon] {
  width: 24px !important;
  height: 24px !important;
}

.toast [data-content] {
  flex: 1 !important;
  gap: 0 !important;
}
